{% extends 'base.html'%}
{% load static%}
<html>

<body>

    {{block.super}}
    {% block content %}
    <div class="container-fluid" id="main">
        <h1 style="color:black; padding-top: 180px;text-align:center;">Welcome to Awwwards</h1>
        <p style="color: black; text-align:center;">Rate according To:</p>
        <div class="container" style="color:black;">
            <div class="row">
                <div class="col-md-3">
                    <h2>Design</h2>
 
                </div>
                <div class="col-md-3">
                    <h2>Content</h2>
                    
                </div>
                <div class="col-md-3">
                    <h2>Usability</h2>
                     
                </div>
                <div class="col-md-3">
                    <h2>User Interface</h2>
 
            </div>

        </div>


    </div>
    <div class="container" style="padding-top:30px">

        <!-- Looping through posts   -->


        <div class="row">
            {% for project_item in project %}
            <div class="col-md-6 col-md-6">
                <div class="thumbnail">
                    <p>Posted {{ project_item.posted_time|timesince }} ago.</p>
                    <h3>{{project_item.name}}</h3>
                    <a href="{% url 'rating' project_id=project_item.id %}"><img id="yvee" src="{{project_item.photo.url}}"
                            alt="Image" height=400px width="400px" style=" box-shadow: 1px 1px 1px 1px grey; transition: all 0.3s ease 0s; cursor:
    pointer; opacity: 0.8; width:400px ; height: 400px;"></a>
                    <div class="caption">
                        <a href="{{project_item.project_url}}">View Project</a>
                        <p><strong>
                                Project Description</strong>:{{project_item.project_description}}</p>
                        <p><strong>Technologies Used</strong>:{{project_item.technologies_used}}</p>
                        <p><strong>Get started:</strong><a href="{% url 'rating' project_id=project_item.id %}">rating Project</a></p>
                        <img src="../static/images.jpeg" alt="" height=60px width=100px>
                    </div>

                </div>
            </div>
            {% endfor %}

            <div class="col-md-6" style="padding-bottom: 20px;">

                {% endblock %}
</body>

</html>